<nav class="container flex justify-around py-8 mx-auto bg-teal-600">
  <div>
    <a href="{{ '/' | url }}" class="uppecase"> LOGO </a>
  </div>
  <div class="space-x-8 text-white text-lg uppercase font-bold ">
 {% for page in collections.pages | sortByOrder %}
  
<a class="hover:text-amber-400" href="{{page.url | url }}">{{page.data.title}}</a>


{% endfor %}

  </div>
</nav>