---
layout: layout.njk
---
{% include 'header.njk' %}

<div class="shadow px-8 py-8 bg-lime-100">

{{ content | safe }}

<footer>
<p>Publicado en: {{ page.date.toDateString() }}</p>
</footer>

</div>
