---
title: La Carta
order: 2
---

 <ul id="carta" class="p-10 grid grid-cols-1 sm:grid-cols-1 md:grid-cols-3 lg:grid-cols-3 xl:grid-cols-3 gap-5"></ul>




<script src="https://cdn.jsdelivr.net/npm/@supabase/supabase-js"></script>
<script src="{{ '/assets/js/getLetter.js' | url }}"></script>

<style>
.producto img {
height:300px;
object-fit: cover;
width: 100%;
}

.producto h4 {
font-size: 20px;
font-weight: bold;
padding-top : 20px;
color: #0d9488;
}
</style>