---
title: Ingresar 
order: 6
---
<div class="p-10 flex justify-center">

<div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 flex flex-col w-1/2">
    <div class="mb-4">
      <label class="block text-grey-darker text-sm font-bold mb-2" for="username">
        Usuario
      </label>
      <input class="shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker" id="username" type="text" placeholder="Username">
    </div>
    <div class="mb-6">
      <label class="block text-grey-darker text-sm font-bold mb-2" for="password">
        Password
      </label>
      <input class="shadow appearance-none border border-red rounded w-full py-2 px-3 text-grey-darker mb-3" id="password" type="password" placeholder="******************">
    </div>
    <div class="mb-6">
    <form method="get" action="/fuentedesoda/admin/">  
  <input type="submit" value="Ingresar" class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-green-300 py-2 px-4 border border-blue-500 hover:border-transparent rounded">
    </form>
    </div>
    <div class="flex items-center justify-between">
      <a class="inline-block align-baseline font-bold text-sm text-blue hover:text-blue-darker" href="#">
        Forgot Password?
      </a>
    </div>
</div>
</div>
